*.csproj
*.sln
obj/
Logs/
Library/
.vs/
.git/
Temp/
.DS_Store
bfg-1.13.0.jar
Assets/Scenes/UIWork.unity
Assets/Scenes/UIWork.unity.meta
BuildOutput/
/Assets/StreamingAssets/build_info.meta
/Assets/StreamingAssets/build_info
/UserSettings/Layouts/*.dwlt
/*.json
/UserSettings/EditorUserSettings.asset
/WebGL Builds
